* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    
    background-color: #2e307b;

    font-family: "Poppins", sans-serif;
}

button {
    width: 15rem;
    padding: 1rem 0;
    margin-top: 3rem;

    background-color: #20212d;
    border-color: rgba(32, 33, 45, .1);
    border-radius: 1rem;
    
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;

    cursor: pointer;
}

.navigation-menu {
    padding: 3rem 8rem;
    border-bottom: 1px solid rgba(32, 33, 45, .1);
    
    background-color: #fff;
}

.navigation-menu a {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    font-weight: 700;
    font-size: 3rem;
    color: #20212d;
    text-decoration: none;
}

.navigation-menu img {
    margin-top: 7px;
    height: 5rem;
}

.content {
    width: 70%;
    margin: 5rem auto 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 1.2rem;
    color: #fff;
}

.content .input-wrapper, .content .checkbox-wrapper {
    margin: 5rem 0 2rem;
    display: flex;
    justify-content: center;
}

.content .checkbox-wrapper .item {
    margin: 0 2rem;
    display: flex;
    gap: 0.5rem;

    font-size: 1.6rem;
}

.content .checkbox-wrapper .item input[type="checkbox"] {
    width: 3em;
}

.content .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.content .input-wrapper label, .lbl_color {
    font-size: 1.5rem;
    font-weight: 700;
}

.content .input-wrapper input {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

form {
    width: 100%;

    text-align: center;
}

table {
    width: 100%;
    margin-top: 3rem;
}

th {
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
}

td, th {
    padding: 0.8rem 2rem;
}

td form {
    padding: 0 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td form button {
    width: max-content;
    margin: 0;

    background: none;
    border: none;

    font-weight: 700;
    font-size: 1.2rem;
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(+4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}